<h2>New Contestant</h2>

<%= form_with(model: [:admin, @contestant]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, required: true %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.submit "Add" %>
<% end %>
