<%= turbo_frame_tag contestant do %>
  <li class="py-2 px-4 w-full border-b border-gray-200 dark:border-gray-600">
    <p class="text-sm text-gray-900 dark:text-white">
      <%= contestant.name %>
      <div class="float-right">
        <%= button_to 'delete', owner_round_contestant_path(@round, contestant), method: :delete, form: { data: { turbo_confirm: "Are you sure with deleting #{contestant.name}?" }}  %>
      </div>
    </p>
    <h3 class="text-sm text-gray-400"><%= contestant.location %></h3>
    <% if current_user.owner?(@round) %>
      <div class="float-right">
        <%= turbo_frame_tag "#{dom_id(contestant)}_votes_count" do %>
          <%= contestant.votes_count %><br>
        <% end %>
      </div>
    <% end %>
  </li>
<% end %>
