<div class="max-w-md mx-auto mt-5">
  <h2 class="text-2xl font-semibold mb-4">Welcome to “<%= @round.title %>” round</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <% if current_user.owner?(@round) %>
      <div>
        <p class="text-md font-bold mb-2">Owner menu</p>
        <ul class="list-disc list-inside">
          <li><%= link_to "list of audiences", owner_round_audiences_path(@round) %></li>
          <li><%= link_to "list of contestants", owner_round_contestants_path(@round) %></li>
        </ul>
        <p class="text-md font-bold mt-10 mb-2">How to invite audience</p>
        <p class="text-sm font-normal mb-2">
          Please copy the address of this page and share:
          <%= @round.url %>
        </p>
      </div>
    <% else %>
      <div>
        <p class="text-md mb-2">User <span class="font-bold"><%= @round.owner.username %></span> started it</p>
        <div class="mt-8">
        <% if current_user.audience?(@round) %>
          <%= link_to 'Go vote', round_contestants_path(@round), method: :get, class: "bg-transparent hover:bg-indigo-500 text-indigo-700 font-semibold hover:text-white py-2 px-4 border border-indigo-500 hover:border-transparent rounded" %>
        <% else %>
          <%= button_to "Join the audience", new_round_audience_path(@round), method: :get, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
