<div class="max-w-md mx-auto mt-5">
  <h2 class="text-2xl font-semibold mb-4">Become an audience of “<%= @round.title %>” round</h2>

  <%= form_with url: round_audiences_path(@round), model: [@round, @audience], method: :post, class: "space-y-4" do |f| %>
    <div>
      <%= f.label :name, class: "block text-gray-600 font-semibold" %>
      <%= f.text_field :name, class: "border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-300" %>
    </div>

    <div>
      <%= f.submit "Attend", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring focus:border-blue-300" %>
    </div>
  <% end %>
</div>
