<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Contestants 🎤</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
            <div class="hidden sm:block sm:ml-6">
              <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <%= link_to "New Round", new_round_path, class: class_name_by_tab(new_round_path) %>
              <% if signed_in? %>
                <%= link_to "Vote", root_path, class: class_name_by_tab(root_path) %>
              <% end %>
              <% if admin_user? || signed_in? && current_user.owner?(@round) %>
                <%= link_to "Dashboard", results_path, class: class_name_by_tab(results_path) %>
                <%= link_to "Contestants", admin_contestants_path, class: class_name_by_tab(admin_contestants_path) %>
                <%= link_to "Users", users_path, class: class_name_by_tab(users_path) %>
              <% end %>
              </div>
            </div>
          </div>
          <% if signed_in? %>
            <div>
              <%= link_to "Hello \"#{current_user.username}\"", user_path(current_user.another_id), class: class_name_by_tab(user_path(current_user.another_id)) %>
            </div>
          <% else %>
            <div>
              <%= link_to "Register", new_user_path, class: class_name_by_tab(new_user_path) %>
              <%= link_to "Sign In", new_session_path, class: class_name_by_tab(new_session_path) %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container mx-auto flex">
      <% if flash.present? %>
        <div data-controller="flash" class="flex items-center top-5 left-5 py-3 px-5 rounded-lg">
          <% flash.keys.each do |key| %>
            <div class="mr-4 text-red-500"><%= flash[key] %></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <main class="container mx-auto mt-8 px-5">
      <%= yield %>
    </main>
  </body>
</html>
